* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7151dc;
    color: #dc7151;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.Containerimagem {
    width: 400px;
    height: 400px;
    background-image:url("./images/imgGiovanni2.jfif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-color: #51dc71;
    border-style: solid;
    animation: spin 10s linear infinite;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.buttons {
    list-style: none;
    text-align: center;
    text-decoration: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

li {
    background-color: #51dc71;
    width: 50%;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    transition: all .5s;
}

li:hover {
    width: 55%;
    color: beige;
    background-color: #449c59;
}

a {
    text-decoration: none;
    color: azure;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}